/*.bande_horizontal{
    padding: 20px;
    margin: 0px;
    border: 10px;
    width: 100%;
    height: 200px;
    background-color: burlywood;
    position: relative;
}*/

body {
    width: 100%;
    margin: auto;
    background: #E5E5E5;
}

.title{
    z-index: 1;
    color: white;
    top: 70px;
    vertical-align: middle;
    text-align: center;
    font-family: inherit;
    font-size: 50px;
    font-weight:small;
    position: relative;
    text-shadow: 1px 1px 2px black, 0 0 1em, 0 0 0.2em grey;
}

.img{
    top:-200px;
    color: blue;
    background-color: beige;
    width: 100%;
    height: 132%;
    background-image: url("https://c.pxhere.com/photos/de/b6/cloud_sky_pink-1392738.jpg!d");
    position: absolute;
}

.by{
    z-index: 2;
    color: white;
    top: 20px;
    vertical-align: middle;
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    font-weight:small;
    position: relative;
    text-shadow: 1px 1px 2px black, 0 0 1em, 0 0 0.2em grey;
}

.circle{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 1px solid #000000;
    background: #834B66;
    position: relative;
    top: 80px;
    text-shadow: 1px 1px 2px black, 0 0 1em, 0 0 0.2em black;
    margin: 50px;
    
}

.circle2{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 1px solid #000000;
    background: #B54C51;
    position: relative;
    top: -690px;
    text-shadow: 1px 1px 2px black, 0 0 1em, 0 0 0.2em black;
    margin: 470px;
    text-align: : middle;
    vertical-align: center;
        
}

.circle3{
     border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 1px solid #000000;
    background: #F27C5E;
    position: absolute;
    top: -590px;
    text-shadow: 1px 1px 2px black, 0 0 1em, 0 0 0.2em black;
    margin: 900px;
    text-align: : right;
    vertical-align: center;
    
} 

.h1{
     z-index: 3;
    color: darkgray;
    top: 270px;
    vertical-align: middle;
    text-align: center;
    font-family: inherit;
    font-size: 25px;
    font-weight:small;
    position: absolute;
    text-shadow: 1px 1px 2px black, 0 0 1em, 0 0 0.2em black;
    margin: 100px;
}

.competences{
    z-index: 4;
    color: darkgray;
    top: 370px;
    vertical-align: middle;
    text-align: center;
    font-family: inherit;
    font-size: 21px;
    font-weight:small;
    position: absolute;
    text-shadow: 1px 1px 2px black, 0 0 1em, 0 0 0.2em black;
    margin: 80px;
}

.h2 {
    z-index: 5;
    color: darkgray;
    top: -180px;
    vertical-align: middle;
    text-align: center;
    font-family: inherit;
    font-size: 25px;
    font-weight:small;
    position: absolute;
    text-shadow: 1px 1px 2px black, 0 0 1em, 0 0 0.2em black;
    margin: 555px;
}

.formation{
     z-index: 6;
    color: darkgray;
    top: -70;
    vertical-align: middle;
    text-align: center;
    font-family: inherit;
    font-size: 21px;
    font-weight:small;
    position: absolute;
    text-shadow: 1px 1px 2px black, 0 0 1em, 0 0 0.2em black;
    margin: 510px;
}

.h3{
    z-index: 7;
    color: darkgray;
    top: -635px;
    vertical-align: middle;
    text-align: center;
    font-family: inherit;
    font-size: 25px;
    font-weight:small;
    position: absolute;
    text-shadow: 1px 1px 2px black, 0 0 1em, 0 0 0.2em black;
    margin: 995px;
}   

.interet{
      z-index: 8;
    color: darkgray;
    top: -505;
    vertical-align: middle;
    text-align: center;
    font-family: inherit;
    font-size: 21px;
    font-weight:small;
    position: absolute;
    text-shadow: 1px 1px 2px black, 0 0 1em, 0 0 0.2em black;
    margin: 955px;
}

.bodycorp{
    font-family: arial, sans-serif;
    font-size: 14px;
    background: #7C7BA5 
    /*background-repeat: repeat-x;*/
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position: 0px;
    background-size: auto auto;
    width: 100%;
    height: 176%;
    top: 100px;
}

.text{
     z-index: 9;
    color: black;
    top: 670px;
    vertical-align: middle;
    text-align: center;
    font-family: inherit;
    font-size: 25px;
    font-weight:small;
    position: absolute;
    text-shadow: 1px 1px 2px white, 0 0 1em, 0 0 0.2em white;
    margin: 150px;
}

.carre{
     color: black;
    width:200px;
    height:200px;
    background: #C4C4C2;
    margin:100px; 
  text-align: center;
vertical-align: middle;
    line-height: 200px;
    border:5px black;
    position: relative;
    z-index: 10;
    top: -550px;
}

.qui{
     z-index: 11;
    color: black;
    top: 1175px;
    vertical-align: middle;
    text-align: center;
    font-family: inherit;
    font-size: 25px;
    font-weight:small;
    position: absolute;
    text-shadow: 1px 1px 2px white, 0 0 1em, 0 0 0.2em white;
    margin: 130px;
}

.nom{
     z-index: 12;
    color: black;
    top: 920px;
    vertical-align: middle;
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    font-weight:small;
    position:absolute;
   /* text-shadow: 1px 1px 2px white, 0 0 1em, 0 0 0.2em white;*/
    margin: 320px;
}

.trait1{
    border-top: 1px solid #000;
    width : 300px;
    top: -1010px;
    margin: 310px;
    position: relative;
} 

.date{
     z-index: 13;
    color: black;
    top: 965px;
    vertical-align: middle;
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    font-weight:small;
    position:absolute;
   /* text-shadow: 1px 1px 2px white, 0 0 1em, 0 0 0.2em white;*/
    margin: 320px;
}

.trait2{
    border-top: 1px solid #000;
    width : 300px;
    top: -1273px;
    margin: 310px;
    position: relative;
} 

.locomotion{
     z-index: 14;
    color: black;
    top: 1020px;
    vertical-align: middle;
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    font-weight:small;
    position:absolute;
   /* text-shadow: 1px 1px 2px white, 0 0 1em, 0 0 0.2em white;*/
    margin: 320px;
}

.trait3{
    border-top: 1px solid #000;
    width : 300px;
    top: -1530px;
    margin: 310px;
    position: relative;
} 

.adress{
     z-index: 15;
    color: black;
    top: 1070px;
    vertical-align: middle;
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    font-weight:small;
    position:absolute;
   /* text-shadow: 1px 1px 2px white, 0 0 1em, 0 0 0.2em white;*/
    margin: 320px;
}

.trait4{
    border-top: 1px solid #000;
    width : 300px;
    top: -1770px;
    margin: 310px;
    position: relative;
} 

.mail{
     z-index: 16;
    color: black;
    top: 1145px;
    vertical-align: middle;
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    font-weight:small;
    position:absolute;
   /* text-shadow: 1px 1px 2px white, 0 0 1em, 0 0 0.2em white;*/
    margin: 320px;
}

.exp{
     z-index: 17;
    color: black;
    top: 1130px;
    vertical-align: middle;
    text-align: center;
    font-family: inherit;
    font-size: 25px;
    font-weight:small;
    position:absolute;
    text-shadow: 1px 1px 2px white, 0 0 1em, 0 0 0.2em white;
    margin-left: 940px;
}

.textpro{
     z-index: 18;
    color: black;
    top: 470px;
    vertical-align: middle;
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    font-weight:small;
    position: absolute;
   /* text-shadow: 1px 1px 2px white, 0 0 1em, 0 0 0.2em white;*/
    margin: 760px;
}

.lignevertical{
height: 100px;
padding-right: 60px;
border-right: 1px solid black;
    position: relative;
    width: 300px;
    top: -2440px;
    margin: 450px
}

.avril{
    z-index: 19;
    color: black;
    top: 1220px;
    vertical-align: middle;
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    font-weight:small;
    position: absolute;
   /* text-shadow: 1px 1px 2px white, 0 0 1em, 0 0 0.2em white;*/
    padding-left: 840px;
}

.textpro2{
     z-index: 18;
    color: black;
    top: 620px;
    vertical-align: middle;
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    font-weight:small;
    position: absolute;
   /* text-shadow: 1px 1px 2px white, 0 0 1em, 0 0 0.2em white;*/
    margin: 760px;
}

.lignevertical2{
height: 100px;
padding-right: 60px;
border-right: 1px solid black;
    position: relative;
    width: 300px;
    top: -2840px;
    margin: 450px
}

.dec{
  z-index: 19;
    color: black;
    top: 1370px;
    vertical-align: middle;
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    font-weight:small;
    position: absolute;
   /* text-shadow: 1px 1px 2px white, 0 0 1em, 0 0 0.2em white;*/
    padding-left: 890px;  
}